<!DOCTYPE html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="static/css/style.css" />
</head>
<html>
	<body>
		<main>
		<h1> {{ title }} </h1>
			<div class="container">
				<p>Welcome to raj's restaurant.</p>
				
				<input id="search" class="search" 
				i	for="search" name="search" placeholder="search Menu" />

				<input id="search" class="search" 
					for="search" name="search" placeholder="search Appetizers" />

				<input id="search" class="search" 
					for="search" name="search" placeholder="ZIP Code" />
	
				<h2>Menu</h2>
				<div class="menu">

				</div>
			</div>
		</main>
	</body>
</html>
