<!DOCTYPE html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<link type="stylesheets" href="static/style.css" />
</head>
<html>
	<body>
		<main>
			<h1> Raj's restaurant</h1>
			<div class="container">
				<p>Welcome to raj's restaurant.</p>
				<input id="search" class="search" for="search" name="search" placeholder="search Menu" />
				<h2>Menu</h2>
				<div class="menu">

				</div>
			</div>
		</main>
	</body>
</html>
